.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  border-radius: 50px;
  color: rgb(74, 19, 18);
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
}
.button:hover,
.button:focus {
  background-color: rgb(74, 19, 18, 0.8);
  color: white;
}
