.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}
.title {
  color: rgb(74, 19, 18);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.label {
  color: rgb(74, 19, 18);
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid #e8c5c5;
  border-radius: 10px;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid #e8c5c5;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
}

.input:focus {
  border-color: rgb(74, 19, 18);
  outline: none;
}

.button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: rgb(74, 19, 18);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: rgb(74, 19, 18, 0.8);
}

.closeBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  color: rgb(74, 19, 18);
  top: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}
