.container {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid #e8c5c5;
  border-radius: 6px;
}
.input:focus {
  border-color: rgb(74, 19, 18);
  outline: none;
}

.button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: rgb(74, 19, 18);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: rgb(74, 19, 18, 0.8);
}
