.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #c8dbee;
  color: rgb(15, 1, 1);
  padding: 20px;
  border-right: 1px solid #eee;
}

.settings {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: rgb(15, 1, 1);
}

.settings:hover {
  color: rgb(95, 58, 58);
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  height: 60px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.content {
  padding: 20px;
}
